bin

.DS_Store

.vscode/
.idea/

# VIM
.*.swp

# Emacs
*~

# Common backup files
*.bak

ci/jenkins/jobs/defaults.yaml

plugins/grafana-custom-plugins/grafana-sankey-plugin/node_modules/
plugins/grafana-custom-plugins/grafana-sankey-plugin/dist/
plugins/grafana-custom-plugins/grafana-sankey-plugin/coverage/
plugins/grafana-custom-plugins/grafana-chord-plugin/node_modules/
plugins/grafana-custom-plugins/grafana-chord-plugin/dist/
plugins/grafana-custom-plugins/grafana-chord-plugin/coverage/
